.balance {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 24px 32px;
}

.balance__title {
  color: #4c5f77;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.balance__btc {
  color: #fff;
  font-size: 64px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.balance__right-column {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 2px
}

.balance__icon {
  width: 32px;
  height: 32px;
  vertical-align: center;
}

.balance__number {
  color: #ffffff
}

@media screen and (max-width: 900px) {
  .balance__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 720px) {
  .balance__title {
    font-size: 20px;
  }

  .balance__btc {
    font-size: 28px;
  }

  .balance__icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .balance {
    padding-bottom: 16px;
  }

  .balance__title {
    font-size: 14px;
  }

  .balance__btc {
    font-size: 18px;
  }

  .balance__icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 340px) {
  .balance__title {
    font-size: 12px;
  }

  .balance__btc {
    font-size: 16px;
  }

  .balance__icon {
    width: 14px;
    height: 14px;
  }
}