.chart {
  width: 100%;
  height: 30vh;
  padding: 0 0 24px;
}

.chart__tooltip-label {
  color: #59a252;
  font-size: 32px;
}

@media screen and (max-width: 500px) {
  .chart {
    padding-bottom: 12px;
  }

  .chart__tooltip-label {
    font-size: 24px;
  }
}