.controls {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  padding: 0 24px 16px;
  margin-bottom: 100px;
}

.controls__title {
  color: #4c5f77;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  max-width: 140px;
  width: 100%;
  line-height: 1;
}

.controls__buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  align-items: center;
}

.controls__button {
  font-size: 24px;
  color: #4c5f77;
  background: none;
  border: solid 2px #1b293f;
  border-radius: 24px;
  height: 46px;
  line-height: 1;
  min-width: 118px;
  padding: 0 8px;
  font-weight: 500;
  cursor: pointer;
}

.controls__button:hover {
  box-shadow: inset 0 0 2px 2px #1a3450;
}

.controls__button_selected {
  color: #fff;
  border-color: #8d949d;
  background-color: #18283c;
}

@media screen and (max-width: 720px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  
  .controls__buttons-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .controls {
    margin-bottom: 30px;
  }

  .controls__title {
    font-size: 18px;
  }

  .controls__button {
    font-size: 14px;
    min-width: 64px;
    padding: 0 6px;
    height: 30px;
  }

  .controls__buttons-container {
    gap: 12px
  }
}