.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 32px 24px 32px;
}

.header__menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  background-image: url(../assets/menu_icon.png);
  background-repeat: no-repeat;
  background-size: 36px 26px;
  background-position: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.header__text {
  color: #4c5f77;
  font-size: 48px;
  margin: 0;
}

.header__refresh {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  background-image: url(../assets/refresh.png);
  background-repeat: no-repeat;
  background-size: 34px 34px;
  background-position: center;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .header__text {
    font-size: 32px;
  }
}

@media screen and (max-width:500px) {
  .header {
    padding: 16px 24px;
  } 

  .header__text {
    font-size: 20px;
    line-height: 1;
  }

  .header__menu-button {
    width: 24px;
    height: 24px;
    background-size: 20px 10px;
  }

  .header__refresh {
    width: 24px;
    height: 24px;
    background-size: 18px 18px;
  }
}
