.menu {
  background-color: #18283c;
  height: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  margin: 0;
  position: fixed;
  bottom: 0;
  max-width: calc(1280px - 20*2px);
  width: 100%;
}

.menu__button {
  height: 100%;
  min-width: 100px;
  background: none;
  border: 0;
  color: #4c5f77;
  padding: 0;
  cursor: pointer;
  position: relative;
  margin: 0;
}

.menu__text {
  padding: 2px 0 0;
  margin: 0;
  font-size: 20px;
}

.menu__button_selected {
  color: #fff
}

.menu__notifications {
  position: absolute;
  background-color: #fb9818;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: #fff;
  top: -15px;
  right: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 1280px) {
  .menu {
    max-width: calc(100vw - 20*2px);
  }
}

@media screen and (max-width: 720px) {
  .menu {
    height: 60px;
    gap: 10px;
  }

  .menu__button {
    min-width: 60px;
  }

  .menu__icon {
    width: 30px;
  }

  .menu__text {
    font-size: 16px;
  }

  .menu__notifications {
    width: 24px;
    height: 24px;
    font-size: 16px;
    right: 5px;
    top: -10px;
    line-height: 22px;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    height: 30px;
    padding: 5px 20px;
  }

  .menu__button {
    min-width: 30px;
    height: 30px;
  }

  .menu__text {
    display: none;
  }

  .menu__notifications {
    right: -5px;
    top: -10px
  }
}