.menu {
  background-color: #18283c;
  height: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  margin: 0;
}

.menu__button {
  height: 100%;
  min-width: 100px;
  background: none;
  border: 0;
  color: #4c5f77;
  font-weight: 600;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.menu__text {
  padding: 2px 0 0;
  margin: 0;
}

.menu__button_selected {
  color: #fff
}

.menu__notifications {
  position: absolute;
  background-color: #fb9818;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: #fff;
  top: -15px;
  right: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}